[submodule "leveldb-mcpe"]
	path = leveldb-mcpe
	url = git@github.com:Mojang/leveldb-mcpe.git
[submodule "libzippp"]
	path = libzippp
	url = git@github.com:ctabin/libzippp.git
[submodule "libzip"]
	path = libzip
	url = git@github.com:nih-at/libzip.git
[submodule "libnbtplusplus"]
	path = libnbtplusplus
	url = git@github.com:ljfa-ag/libnbtplusplus.git
